body {
    background-image:  url(/Image/blue\ background.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: black;
    
  }
  
  li {
      display: inline;
    float:left;
    

  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: black;
    width: fit-content;
    color: white;
    
   
  }
 
  
/* time*/
.time{
    position: absolute;
    left: 820px;
    bottom: 650px;
    font-size: 20px;
    text-align: center;
    height: 25px;
    width: fit-content;
    background-color: black;
    color: whitesmoke;
    margin: auto;
    
 }
 .clock{
     position : absolute;
     top:100px;
 }
 /* gif*/
 .gifs {
	width: 100px;
	max-width: 100px;
  
	border: #222;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  #gif-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-size: 50vh;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
  }
  #gif-logo {
	position: fixed;
	top: 0.5rem;
	right: 0.5rem;
	border-radius: 30px;
	padding: 0 1rem;
	background: #000;
  }

  .profile{ 
   
    width: 25%;
    height: 500px;
    margin: auto;
    margin-top: 12px;
    margin-left: 20px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: 100px;
    border: 2px solid black;
  }
    .profile >img { 
        background-color: rgb(243, 234, 234);
        color: white;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin-top: -50px;
        
    }
    .profile >p { 
        font-size: 16px;
        font-family: sans-serif;
    } 
    button{ 
        border-radius: 10px;
        height: 30px;
        width: 160px;
        background-color: whitesmoke;
        color: black;
        font-weight: bold;
        
    } 
    input { 
        border-radius: 10px;
        height: 25px;
        align-items: center;
        justify-content: center;
    } 
    /*todo*/
    .todo{
        position: relative;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: flex-start;
        
      }
      .container .todo .addToDo form input[type="text"]::placeholder{
        color: black;
        font-size: 15px;
      }
    .container .todo .addToDo form input[type="submit"]{
        width: 50px;
        cursor: pointer;
        background: white;
        border:  2px solid black;
        font-weight: 5px;
        margin-left:5px;
        color: black;
        font-weight: 500;
        font-size: 1rem;
    }
    .container .todo .list .listItem input{
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
        height: 20px;
        width: 25px;
        border: 2px solid black;
        margin-left: 15%;
        outline: none;
        cursor: pointer;
      }
      .container .todo .list .listItem input:checked::before{
        position: absolute;
        content: '';
        height: 70%;
        width: 4px;
      }
      .container .todo .list .listItem input:checked::after{
        position: absolute;
        content: '';
        height: 130%;
        width: 4px;
      }
      